@use '../../styles/base' as a;

main {
    font-family: a.$text-family;

    .todos-wrapper {
        display: flex;
        justify-content: center;
        height: 100vh;
        position: relative;

        .todolist {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            top: 5rem;
            margin-top: 1.5rem;

            .wrapper {
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .heading {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: a.$text-color;
                    font-size: 1.3rem;
                    font-weight: 700;
                    font-family: a.$text-family;
                    padding: 1rem;
    
                    span {
                        display: flex;
                        gap: 8px;
                        justify-content: space-around;
                        align-items: center;
    
                        .back-arrow {
                            padding: 0.3rem;
                            font-size: 1.5rem;
                            background-color: a.$nav-background;
                            border-radius: 12px;
                            border: none;
                            color: a.$text-color;
                            display: flex;
                        }
                    }
                }

                .todo-form {
                    width: 100%;
                    display: flex;
                    margin: 1rem;
                    padding: 0.5rem;
                    border: 2px solid a.$nav-background;
                    border-radius: 10px;

                    .add-btn {
                        background-color: a.$text-hover-color;
                        padding: 0.3rem;
                        border-radius: 10px;
                        margin-right: 0.8rem;
                        border: none;
                        display: flex;
                    }
                    .input {
                        background: transparent;
                        outline: none;
                        color: a.$text-color;
                        font-weight: 500;
                        border: none;
                        font-size: 0.8rem;
                        padding: 0.0.5rem;
                        width: 100%;
                    }
                }

                .tasks-container {
                    width: 100%;
                    margin: 1rem;

                    p{
                        font-weight: 600;
                        text-align: left;
                        color: a.$text-color;
                    }

                    .tasks-wrapper {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
    
}

@media only screen and (min-width: 600px) {
    main {
        .todos-wrapper{

            .todolist {
                width: 80%;
        
                .wrapper {
                    width: 75%;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    main {
        .todos-wrapper{

            .todolist {
                width: 80%;
        
                .wrapper {
                    width: 65%;
                }
            }
        }
    }
}