rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /school/{schoolID} {
      match /todoList/{todoListID} {
      	allow read:  if request.auth.token.email_verified;
      	allow write: if request.resource.data.todo is string &&
      		request.resource.data.complete is bool;
        allow delete: if request.auth.token.email_verified;
      }
  	}
    match /personal/{personalID} {
      match /todoList/{todoListID} {
      	allow read:  if request.auth.token.email_verified;
      	allow write: if request.resource.data.todo is string &&
      		request.resource.data.complete is bool
        allow delete: if request.auth.token.email_verified;
      }
    }
    match /work/{workID} {
     match /todoList/{todoListID} {
      	allow read:  if request.auth.token.email_verified;
      	allow write: if request.resource.data.todo is string &&
      		request.resource.data.complete is bool
        allow delete: if request.auth.token.email_verified;
      }
    }
  }	
}