@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

$background-color: #07070A;
$text-color: #D3B8BA;
$text-hover-color: #F75F8C;
$text-family: "Raleway", sans-serif;