@use '../../styles/base' as a;

.todo-wrapper {
    width: 100%;
    display: flex;
    color: a.$text-color;
    background: a.$nav-background;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 2px solid a.$nav-background;
    border-radius: 10px;
    justify-content: space-between;

    .content {
        display: flex;
        gap: 10px;
        align-items: center;

        .uncheck {
            border: 2px solid a.$text-hover-color;
            border-radius: 9px;
            background: transparent;
            padding: 2px;
            width: 20px;
            height: 20px;
            position: relative;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;

            .checkmark {
                display: none;
            }  
        }
        .check {
            background: a.$text-hover-color;

            .checkmark {
                display: block;
                position: absolute;
                height: 12px;
                width: 6px;
                bottom: 3px;
                left: 5px;
                border-width: 0 2px 2px 0;
                border-color: a.$nav-background;
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
        .task {
            font-size: 0.9rem;
            font-weight: 500;
        }
        .check ~ span {
            text-decoration: line-through;
        }
    }

    .btns {
        display: flex;
        gap: 10px;
        margin-right: 10px;

        button {
            background-color: transparent;
            border: none;
            
            svg {
                font-size: 1.2rem;
                color: a.$text-hover-color;
            }
        }
    }
}