@use "../../styles/base" as a;

.todo-wrapper {
	width: 100%;
	display: flex;
	color: a.$text-color;
	background: a.$nav-background;
	padding: 0.5rem;
	margin: 0.5rem 0;
	border: 2px solid a.$nav-background;
	border-radius: 10px;
	justify-content: space-between;
	transition: 0.25s all ease-in-out;

	.content {
		display: flex;
		gap: 10px;
		align-items: center;

		.uncheck {
			border: 2px solid a.$text-hover-color;
			border-radius: 9px;
			background: transparent;
			padding: 2px;
			width: 20px;
			height: 20px;
			position: relative;
			-moz-user-select: none;
			-webkit-user-select: none;
			user-select: none;

			.checkmark {
				display: none;
			}
		}
		.check {
			background: a.$text-hover-color;

			.checkmark {
				display: block;
				position: absolute;
				height: 12px;
				width: 6px;
				bottom: 3px;
				left: 5px;
				border-right: 2px solid #272728;
				border-bottom: 2px solid #272728;
				-o-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
		.task {
			font-size: 0.9rem;
			font-weight: 500;
			color: a.$text-color;
		}
		input {
			font-size: 0.95rem;
			font-weight: 500;
			border: none;
			border-bottom: 1px solid a.$text-hover-color;
			background: transparent;
			color: a.$text-hover-color;
			padding-bottom: 2px;
			outline: none;
			width: 70%;
		}
		.check ~ span {
			text-decoration: line-through;
		}
	}

	.btns {
		display: flex;
		gap: 10px;
		margin-right: 10px;

		.edit.isactive {
			display: none;
		}
		.edit {
			display: block;
		}

		button {
			background-color: transparent;
			border: none;

			svg {
				font-size: 1.2rem;
				color: a.$text-hover-color;
			}
		}
		button:hover {
			svg {
				color: a.$text-color;
			}
		}
	}
}

.todo-wrapper:hover {
	transform: translate3d(10px, 5px, 10px);
	box-shadow: 3px 3px 1px a.$text-hover-color;
}
